<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Department</title>
</head>
<body>
   <div class="container-3">
    <div class="navbar">
        <div class="logo">
            <h3>Health<span>Hist</span></h3>
        </div>
        <div class="nav-link">
            <ul>
                <a href="/Dashboard">Dashboard</a>
                <a href="/Department">Department</a>
                <a href="/Employees">Employees</a>
                <a href="/Appointment">Appointment</a>
            </ul>
        </div>
    </div>
    <div class="department">
        <div class="department-1">
            <div class="dep-1">
                <img src="./images/cardiology-cath-lab.jpg" alt="">
            </div>
            <div class="dep-2">
                <h2 id="dep-head" >Cardiology Department</h2>
                <p>The field includes medical diagnosis and treatment of congenital heart defects, 
                    coronary artery disease, heart failure, valvular heart disease and electrophysiology. 
                    Physicians who specialize in this field of medicine are called cardiologists, a specialty 
                    of internal medicine.</p>
            </div>
        </div>
        <div class="department-1">
            <div class="dep-1">
                <img src="./images/gynecology-office.jpg" alt="">
            </div>
            <div class="dep-2">
                <h2 id="dep-head" >Gynecology Department</h2>
                <p>The aim of the program Cynology is to build students' professional skills and to educate competent 
                    attitude towards the issue. To solve this question, the program is structured in accordance with 
                    the current state of knowledge in this area, with the latest requirements for a dog activity 
                    consistent with the properties of the hunting practice and in agreement with the current regulations and legislation.</p>
            </div>
        </div>
        <div class="department-1">
            <div class="dep-1">
                <img src="./images/counter.jpg" alt="">
            </div>
            <div class="dep-2">
                <h2 id="dep-head" >Counter Section</h2>
                <p>Your reception number indicating the order of consultation will be announced or displayed on the information screen
                     (consultation order guide system).
                    * Consultation order guide systems have been installed at the outpatient clinics in General Medicine,
                     Internal Medicine (East and West), Surgery, Urology, and Obstetrics & Gynecology.</p>
            </div>
        </div>
        <div class="department-1">
            <div class="dep-1">
                <img src="./images/emergencyroom.jpg" alt="">
            </div>
            <div class="dep-2">
                <h2 id="dep-head" >Emergency Room</h2>
                <p>An emergency department (ED), also known as an accident and emergency department (A&E), emergency room (ER), emergency ward
                     (EW) or casualty department, is a medical treatment facility specializing in emergency medicine, 
                     the acute care of patients who present without prior appointment; either by their own means or by that of an ambulance.
                      The emergency department is usually found in a hospital or other primary care center.</p>
            </div>
        </div>
        <div class="department-1">
            <div class="dep-1">
                <img src="./images/enoughbed.jpg" alt="">
            </div>
            <div class="dep-2">
                <h2 id="dep-head" >Enough Bed</h2>
                <p>A hospital bed or hospital cot is a bed specially designed for hospitalized patients or others
                     in need of some form of health care. These beds have special features both for the comfort 
                     and well-being of the patient and for the convenience of health care workers. Common features
                      include adjustable height for the entire bed, the head, and the feet, adjustable side rails,
                       and electronic buttons to operate both the bed and other nearby electronic devices.</p>
            </div>
        </div>
        <div class="department-1">
            <div class="dep-1">
                <img src="./images/ambulance.jpg" alt="">
            </div>
            <div class="dep-2">
                <h2 id="dep-head" >Advance Ambulance</h2>
                <p>Advanced Cardiac Life Support Ambulances (ACLS) are the enhanced version of regular ambulances.
                     The ACLS ambulance services offer extensive services to those clients who are diagnosed with 
                     cardiac problems and to those who require care, such as adequate blood circulation and 
                     ventilation, during the shifting.</p>
            </div>
        </div>
    </div>
   </div>
</body>
</html>