<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <h3>Health<span>Hist</span></h3>
            </div>
            <div class="nav-link">
                <ul>
                    <a href="/">Home</a>
                    <!-- <a href="/Dashboard">About</a> -->
                    <a href="/LogIn">Log In</a>
                    <a href="/SignUp">Sign Up</a>
                </ul>
            </div>
        </div>
        <div class="content">
            <!-- <img src="./images/content-image.jpg" alt="imz"> -->
            <div class="content-1">
             <h1> We Are Here For You 
                <br>
              <span>Best Doctor & Best Care</span> </h1>
                <p>I just want to be healthy and stay alive and keep my family going and everything 
                    and keep my friends going and try to do something so that this world will be 
                    peaceful. That is the most ambitious and the most difficult thing, but I'm there 
                    trying to do it.</p>
            </div>
            <div class="content-2">
                
            </div>
        </div>
            <!-- <div class="row">
                 <div class="first">
                        <a href="#" class="logo"><span>Health</span>Hist</a>
                        <p>sector 1, NIT rourkela, odisha, 769006</p>
                    </div>
                    <div class="second">
                        <a href="#">home</a>
                        <a href="#">about</a>
                        <a href="#">Log In</a>
                        <a href="#">Sign Up</a>
                    </div>
                </div> -->
            <h3 class="credit">created by <span>HealthHist group</span> | all rights reserved.</h3>   
    </div>
</body>
</html>